table.redTable {
  font-family: "Times New Roman", Times, serif;
  border: 4px solid #A40808;
  background-color: #F5C8BF;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}
table.redTable td, table.redTable th {
  border: 1px solid #AAAAAA;
  padding: 3px 2px;
}
table.redTable tbody td {
  font-size: 13px;
}
table.redTable tfoot td {
  font-size: 13px;
}
