header {
  margin: 10px;
  text-align: center;
  background: #1abc9c;
  font-size: 30px;
main {
  font-family: sans-serif;
	margin: 20px;
	text-align: center;
	background: #1abc9c;
	font-size: 35px;
	
}
footer {
  font-family: sans-serif;
	margin: 20px;
	text-align: center;
	background: #1abc9c;
	font-size: 20px;
	
}
}
table {
	border-collapse: collapse;
	border: 5px solid black;
	text-align: center;
	vertical-align: middle;
}

th, td {
	border: 5px solid black;
	padding: 8px;
}

thead th {
  width: 25%;
}
